* {
    padding:0;
    margin: 0;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color:Moccasin;
    z-index: 1;
    list-style: none;
    
}
.dropdown:hover .dropdown-content{
    display: block;
    background-color: lightsteelblue;
}
#card{
    margin-left: 20px;
}
#login{
    margin-left: 20px;
}

.add_data{
    margin: auto;
}
.addlap{
    border: 1px solid #f5f5f5;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 15px;
    border-radius: 30px;
    background-color: white;
}
#form{
    border:1px solid #f5f5f5; 
    padding: 20px;
    border-radius: 20px;
    background-color:#CCFF99;
}
.laptop_content{
    background-image: url("img/office2.jpeg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
}
.footer {

    border:1px solid lightgrey;
    padding:20px;
    padding-left:50px;
    background-color: #F5F5F5;  
    vertical-align: bottom;
 
}
#sualaptop {
    margin-top: 25px;
    margin-bottom: 30px;
}
.customer_cover{
    margin-top: 30px;
    margin-bottom: 700px;
}

